body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Sign to Panda Chatbot */
.title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    margin-bottom: 20px;
    text-align: center;
    position: fixed;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
}

/* Panda logo */
.logo {
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}

.logo img {
    height: 60px;
}

.contact-container {
    width: 600px;
    margin: 230px auto 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Input field */
.contact-group {
    margin-bottom: 20px;
}

.contact-group label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: #5f5f5f;
    display: block;
    margin-bottom: 5px;
}

.contact-group input,
.contact-group textarea {
    width: 96%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Submmit button */
button {
    width: 100%;
    padding: 10px;
    background-color: #005550;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #005550;
}