body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Create horizontal navigation */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    z-index: 1000;
}

/* Navigation bar adjustion */
.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    right: 10px;
    z-index: 1000;
}

/* Define menu style */
.menu li {
    position: relative;
    display: inline-block;
}

/* Define menu link style */
.menu li a {
    text-decoration: none;
    color: #5f5f5f;
    padding: 10px;
    display: block;
}

/* Define submenu style */
.submenu {
    display: none;
    /* Initially hide the secondary menu */
    position: absolute;
    background-color: #f2f2f2;
    z-index: 1;
    /* Make sure submenu display uppermost */
    width: 800px;
    height: auto;
    padding: 20px;
    /* Add padding */
    left: -20px;
    /* Align the left border with the right side of the menu */
    top: 0px;
    /* Display from the top */
}

.submenu li {
    /* Display each line of the submenu separately */
    display: block;
    margin-bottom: 20px;
}

.submenu li::after {
    /* Add dashes to each line of the submenu */
    content: '';
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

.menu li:hover .submenu {
    display: block;
    /* Display the word menu when the mouse hover */
}


/* Sign to Panda Chatbot */
.title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    margin-bottom: 20px;
    text-align: center;
    position: fixed;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
}

/* Panda logo */
.logo {
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}

.logo img {
    height: 60px;
}

.contact-container {
    width: 600px;
    margin: 230px auto 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Input field */
.contact-group {
    margin-bottom: 20px;
}

.contact-group label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: #5f5f5f;
    display: block;
    margin-bottom: 5px;
}

.contact-group input,
.contact-group textarea {
    width: 96%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Submmit button */
button {
    width: 100%;
    padding: 10px;
    background-color: #005550;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #005550;
}