/* Team Name:Panda Pioneers */

@charset "UTF-8";

/* Reset box-sizing */
* {
    box-sizing: border-box;
}

body {
    background-color: #005550;
    padding: 0;
    padding-top: 100px;
    margin: 25px;
    font-family: Arial, sans-serif;
}

/* Create horizontal navigation */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #005550;
    padding: 20px;
    display: flex;
    align-items: center;
    z-index: 1000;
}

header::after {
    /* Pseudo-element selectors */
    /* Add separator line under the navigator*/
    content: '';
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0;
    height: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

/* Set Panda logo include image and text*/
.logo {
    margin-right: 5px;
}

.logo img {
    height: 40px;
    transform: scale(1.2);
}

.logo-text {
    margin-right: auto;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

/* Navigation bar adjustion */
.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Define menu style */
.menu li {
    position: relative;
    display: inline-block;
}

/* Define menu link style */
.menu li a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    display: block;
}

/* Define submenu style */
.submenu {
    display: none;
    /* Initially hide the secondary menu */
    position: absolute;
    background-color: #000000;
    z-index: 1;
    /* Make sure submenu display uppermost */
    width: 800px;
    height: auto;
    padding: 20px;
    /* Add padding */
    left: -20px;
    /* Align the left border with the right side of the menu */
    top: 0px;
    /* Display from the top */
}

.submenu li {
    /* Display each line of the submenu separately */
    display: block;
    margin-bottom: 20px;
}

.submenu li::after {
    /* Add dashes to each line of the submenu */
    content: '';
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

.menu li:hover .submenu {
    display: block;
    /* Display the word menu when the mouse hover */
}

/* Setting <body> style here*/
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
    /* Adjust the vertical spacing between each list item */
}

h1 {
    color: #f2ffcf;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Add text shadow */
}

a {
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    /* Remove the underlines of links */
}

a:hover {
    text-decoration: underline;
    /* Add an underscore on mouse hover */
}

/* Footer content*/
.footer-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 15px;
    color: #f2ffcf;
    text-align: center;
    background-color: #005550;
    padding: 10px 0;
}